@import "_colors"

div
	border 1px solid green
#app
	display grid
	grid-gap 5px
	grid-template-areas 'bread-crumbs bread-crumbs bread-crumbs' 'page-head page-head add-btn' 'data data data'
.page-head
	grid-area page-head
.add-new-channel
	align-content center
	display grid
	grid-area add-btn
	justify-content end
	margin-right 2em
	button
		height 30px
.data-table
	grid-area data
	table
		margin 0 auto
		width 95%
		border-collapse collapse
		margin-top 2em
		tr
			line-height 2em
		tr:nth-child(2n)
			background-color $tbody_bgc
		tr > td:first-child
			text-align center
		tr td:nth-child(2n)	
			border-left 1px solid $thead_bgc
			border-right 1px solid $thead_bgc
	thead
		background-color:$thead_bgc
		color #fff
		line-height 2em
/* messages */
.msg
	border-radius .4em
	border: 1px solid $msg_border
	margin 1em 2em
	padding 1em
	text-align center
.errorMsg
	background-color $error_bg
	border: 1px solid $error_border
/* nav */
.nav
	grid-area bread-crumbs
	list-style-type none
	padding  0
	li
		display inline
		margin-left 5px
.nav-active
	color $thead_bgc
	cursor pointer

